body{
    background-color: #BCAAA4;
}

h1, h2 {
    text-align: center;
    color: blue;
}

#main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background-color: #CE93D8;
}

a{ 
    display: block;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 5px;
    text-decoration: none;
}

.image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border: solid;
    border-radius: 5px;
    margin: auto;
    transition: transform .1s;
}

article p,a {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
}

article:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}