body{
    background-color: bisque;
}

h1, h2 {
    text-align: center;
    color: blue;
}

#main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
}

a{ 
    display: block;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
}

.image {
    max-width: 200px;
    object-fit: cover;
}